body {
    background-color:#B0B0B0; 
    padding:.5%;
    text-align: justify; 
    font-family: Arial;
}

h2 {
    padding:1.5%;
    padding-bottom: 0;
    color:#3D3D3D; 
}

p {
    padding:1.5%;
    color:#3D3D3D; 
    font-size: 2vh; 
}

#about-button {
    float: right;
    text-decoration: none;
    border: 0.2px solid #909090;
    padding: 1px;
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 6vh;
    line-height: 6vh;
    width: 10%;
    text-align: center;
    font-family: serif;
}

#cmua-logo {
    height: 8vh;
}

#info-box {
    background-color: #d9d9d9;
    border-radius: 15px;
}

#map {
    height: 88vh; 
    border-radius: 15px;
}